table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.center-bold {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.line {
  border: 5px solid #00994C;
  border-radius: 5px;
}