<div class = "container" *ngFor = "let subacc of subAccounts" style="margin-bottom: 10px;" >
    <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h3 class="card-title" style = "background-color: #dddddd; padding-left: 5px;"><b>BillingID : </b>{{subacc.BillingID}}</h3>
          <h4 class="card-subtitle mb-2 text-muted">{{subacc.ContractType}}</h4>
          <div class="d-flex justify-content-around">
              <h5><b>Contract Purpose : </b>{{subacc.ContractPurpose}}</h5>
              <h5><b>Contract ID : </b>{{subacc.ContractID}}</h5>
              <h5><b>Country : </b>{{subacc.Country}}</h5>
              <h5><b>Deployment : </b>{{subacc.Deployment}}</h5>
              <h5><b>Status : </b>{{subacc.Status}}</h5>
          </div>
          <button *ngIf = "subacc.Status === 'InProgress'" class="btn btn-primary" (click) = "toggleProg()">Track Progress</button>
          <line-chart *ngIf = "setProgress" [subacc] = "subacc"></line-chart>
        </div>
      </div>
</div>