




  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img height="200px" width="300px" src="../assets/power-bi.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PowerBI</h5>
              <p class="card-text">Analysis chart</p>
              <a [routerLink]="['/powerbi']" class="btn btn-primary">PowerBI</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img height="200px" width="300px" src="../assets/d3.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">D3</h5>
            <p class="card-text">Analysis chart</p>
            <a [routerLink]="['/d3']" class="btn btn-primary">D3</a>
            </div>
        </div>
      </div>
      <!-- <div class="col">
        One of three columns
      </div> -->
    </div>
  </div>