<!-- <div class="card" style="width: 18rem;">
    <img src="../assets/powerbi.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PowerBI</h5>
      <p class="card-text">Analysis chart</p>
      <a href="#" class="btn btn-primary">Home</a>
    </div>
  </div> -->


  <!-- <div #embeddedReport  class="report-placeholder">
    <iframe width="1400" height="620" src="https://app.powerbi.com/reportEmbed?reportId=38d292af-f59b-4130-bb5d-938dfd55eccf&autoAuth=true&ctid=0495f02d-05b1-48ef-b5c0-ab4c61939a26&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div> -->


<div style=" width: 100%;" [ngStyle]="{ 'height': (screenHeight-150)+ 'px' }" #reportContainer></div>

