<!-- <div class="card" style="width: 18rem;">
    <img src="../assets/powerbi.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PowerBI</h5>
      <p class="card-text">Analysis chart</p>
      <a href="#" class="btn btn-primary">Home</a>
    </div>
  </div> -->


  <div #embeddedReport  class="report-placeholder">
    <iframe width="1400" height="620" src="https://app.powerbi.com/reportEmbed?reportId=33102e33-deb6-43b3-b713-e982bf631d49&autoAuth=true&ctid=41ff26dc-250f-4b13-8981-739be8610c21&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div>



